version: '3.8'

services:
  backend:
    build: ./backend
    container_name: rag-backend
    ports:
      - "8000:8000"
    env_file: .env
    environment:
      - REDIS_HOST=redis
      - VECTOR_DB_PATH=/app/chroma_db
    volumes:
      - ./backend/uploads:/app/uploads
      - chroma_data:/app/chroma_db
    depends_on:
      - redis
    networks:
      - rag-network

  worker:
    build: ./backend
    container_name: rag-worker
    command: python app/workers/ingestion_worker.py
    env_file: .env
    environment:
      - REDIS_HOST=redis
      - VECTOR_DB_PATH=/app/chroma_db
    volumes:
      - ./backend/uploads:/app/uploads
      - chroma_data:/app/chroma_db
    depends_on:
      - redis
      - backend
    networks:
      - rag-network

  frontend:
    build: ./frontend
    container_name: rag-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    networks:
      - rag-network

  redis:
    image: redis:7-alpine
    container_name: rag-redis
    ports:
      - "6379:6379"
    networks:
      - rag-network

volumes:
  chroma_data:

networks:
  rag-network:
    driver: bridge
